#header.alt .logo img{
    max-width: 256px;
    max-height: 256px;
}

.pdf-viewer{
    min-height: 600px;
}

@media screen and (max-width: 1000px){
    .pdf-viewer{
        display: none;
    }
}

@media screen and (min-width: 1000px){
    .pdf-viewer__alt{
        display: none;
    }
}

.text__bold{
    font-weight: 600;
}

.orgs-img{
    width: 13em;
    height: 13em;
}